$backgroundFondo: linear-gradient(180deg, #F5FFFE 0%, #F5FFFE 47.71%, rgba(255, 255, 255, 0) 100%);
$backgroundFooter: linear-gradient(0deg, rgba(230, 255, 232, 0.9976365546218487) 11%, rgba(194, 237, 204, 0.49343487394957986) 78%, rgba(230, 255, 232, 0.07326680672268904) 100%);
$backgroundFooterGradient: linear-gradient(0deg, rgba(0, 52, 20, 1) 12%, rgba(0, 52, 20, 1) 79%, rgba(0, 52, 20, 0.8) 80%, rgba(0, 52, 20, 0.6) 83%, rgba(0, 52, 20, 0.4) 90%, rgba(0, 52, 20, 0.0) 100%);
$letraLinkColorHover: rgb(49, 245, 255);

//imports
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Mono:wght@700&display=swap');

.footerPadre {
    //position: absolute;
    width: 100%;
    margin-top: 200px;
}

.degradadoFooter {
    position: absolute;
    z-index: 1;
    background: $backgroundFondo;
    width: 100%;
    height: 200px;
} 

.imageFooter {
    z-index: -1;
    width: 100%;
    margin-bottom: -80px;
}
//Tableta
@media (max-width: 768px) {

    .imageFooter {
        margin-bottom: -110px;
    }
}
//Celular
@media (max-width: 576px) {

    .imageFooter {
        margin-bottom: -130px;
    }
}

.imageFooter-img{
    height: 600px;
}
//Celular
@media (max-width: 576px) {

    .imageFooter {
        height: 500px;
    }
}


.footer {
    position: absolute;
    width: 100%;
    padding-bottom: 60px;
    z-index: 1;
    background: $backgroundFooterGradient;
}


.footer-content {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    padding-top: 80px;
}
//tableta
@media (max-width: 768px) {

    .footer-content {
        padding-top: 110px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: flex-start;
        text-align: center;
    }
}
//Celular
@media (max-width: 576px) {

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px; 
    }

    .footer {
        margin-top: -10px;
    }
}

.footer-content-hikings {
    padding-top: 70px;
}
//tableta
@media (max-width: 768px) {

    .footer-content-hikings {
        padding-top: 0;
    }
}
//Celular
@media (max-width: 576px) {

    .footer-content-paginas {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}


.h3Footer {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
    color: rgb(69, 233, 69);
}

//tableta
@media (max-width: 768px) {

    .h3Footer {
        display: block;
        text-align: center;
    }
}

.footerLink {
    display: flex;
    flex-direction: column;

    a {
        color: white;

        &:hover {
            color: $letraLinkColorHover;
        }
    }
}