.containerHouse {
    margin: 0 auto;
    max-width: 1300px;
    width: 99%;
    padding: 10px;

    &__h2 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
    }
}

.carouselHouse {
    padding: 10px 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: -2px 0px 10px -7px rgba(0, 0, 0, 0.47);
    height: 70vh;

    @media screen and (max-width: 992px) {
        height: 50%; 
        height: 100%;
    }

    &__image {
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
        width: 80%;
        @media screen and (max-width: 992px) {
            height: 70%;
            width: 100%;
        }

        &-img {
            transition: all 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.carouselHouseSlider {
    padding: 10px 0;
    border-left: 1px solid rgba(128, 128, 128, 0.096);
    border-right: 1px solid rgba(128, 128, 128, 0.096);
    border-bottom: 1px solid rgba(128, 128, 128, 0.096);
    box-shadow: -3px 10px 25px -15px rgba(0, 0, 0, 0.47);
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    &__image {
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
        width: 80%;
        

        &-img {
            transition: all 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        @media screen and (max-width: 992px) {
            height: 70%;
            width: 100%;
        }
    }

    &__imageSmall {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        &:hover {
            transform: scale(1.03);
        }

        &-img {
            //transform: translateY(-50%);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    //esto es para el slider acomodarlo como se desee

    .slick-slide {
        width: 100%;
        height: 100%;
    }

    .slick-list {
        height: 18rem;
        .slick-track {
            height: 100%;
        }
    }

    .slick-arrow {
        &:first-child {
            z-index: 1;
            margin-left: 15px;
        }
        &:last-child {
            z-index: 1;
            margin-right: 30px;
        }
    }

    .slick-next,
    .slick-prev {
        &:before {
            font-size: 2rem;
            color: rgb(93, 90, 90);
        }

        @media screen and (max-width: 992px) {
            &:before {
                display: none;
            }
        }
    }
}
