.containerHouse {
    // margin: 0 auto;
    max-width: 75%;
    width: 75%;
    // padding: 10px;
    margin-top: 1%;

    &__h2 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
    }
    @media screen and (max-width: 992px) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
}

.carouselHouse {
    display: flex;
    justify-content: center;

    padding: 10px 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 60vh;
    background-color: white;

    border-left: 1px solid rgba(128, 128, 128, 0.096);
    border-right: 1px solid rgba(128, 128, 128, 0.096);
    border-top: 1px solid rgba(128, 128, 128, 0.096);

    @media screen and (max-width: 992px) {
        //height: 50%;
        //height: 100%;
    }

    &__image {
        //overflow: hidden;
        height: 100%;
        max-width: 100%;
        padding: 5px;
        box-shadow: -3px 0px 25px -10px rgba(0, 0, 0, 0.47);
        border-radius: 10px;

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 992px) {
            //height: 70%;
            //width: 100%;

            //height: 90vw;
        }

        &-img {
            border: 1px solid rgba(128, 128, 128, 0.165);
            transition: all 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            @media screen and (max-width: 776px) {
                height: auto;
            }
        }
    }
}

.carouselSliderPadre {
    width: 90% !important;
    @media screen and (max-width: 576px) {
        overflow: visible;
        height: auto; 
    }
}

.carouselHouseSlider {
    padding: 10px 0;
    background-color: rgb(255, 255, 255);

    border-left: 1px solid rgba(128, 128, 128, 0.096);
    border-right: 1px solid rgba(128, 128, 128, 0.096);
    border-bottom: 1px solid rgba(128, 128, 128, 0.096);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @media screen and (max-width: 576px) {
        max-height: 12rem;
    }

    &__imageSmall {
        //border-radius: 10px;

        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        width: 100%;
        height: 300px;

        &:hover {
            transform: scale(1.04);
        }

        @media screen and (max-width: 576px) {
            overflow: visible;
            height: auto;

        }

        &-img {
            align-items: center;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;

            @media screen and (max-width: 576px) {
                object-fit: contain;
            }
        }
    }

    //esto es para el slider acomodarlo como se desee

    .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;    

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slick-list {
        height: 18rem; 

        @media screen and (max-width: 576px) {
            max-height: 10rem;
            justify-content: center;
            align-items: center;
            div{
               
                height: 100%;
                width: 100%;
            }
        }

        .slick-track {
            height: 100%;
            @media screen and (max-width: 576px) { 
                
                div {
                    //codigo nuevo
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        } 
    }

    .slick-arrow {
        &:first-child {
            z-index: 1;
            margin-left: 1.6rem;
        }
        &:last-child {
            z-index: 1;
            margin-right: 3.7rem;
        }
    }

    .slick-next,
    .slick-prev {
        &:before {
            font-size: 3rem;
            color: rgb(255, 255, 255);
            background-color: black;
            padding-top: 6px;
            border-radius: 5px;
        }

        @media screen and (max-width: 992px) {
            &:before {
                display: none;
            }
        }
    }
}
.slick-slider {
    padding-bottom: 2rem;
}
.slick-dots {
    bottom: 0;
}
