$card-Background: rgb(201, 206, 205);
$house-facilites-icons: rgb(10, 158, 136);

.containerCardHouse{
    
}
.card-header {
    height: 8rem; 
}
.description {

}
.house-facilites {    
    width: 10rem;
    .house-facilites-span-div {
        display: flex;
        align-items: stretch;
        justify-content: center;

        span {
            font-size: 2rem;
            color: $house-facilites-icons;            
        }
    }
    p {
        font-size: 1rem;
    }
}