.home-aside {
  position: relative;
  top: 0;
  margin: 0;
  margin-top: 3%;
  //margin-right: 10px;
  width: 100%; 
  margin-left: 5px;
  //float: right;
  .aside-card-header {
    height: 3rem;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .aside-card-body {
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    margin-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin: 0 auto; 
  }
}
.botonHouseForm{
  width: 100% !important;
  background-color: #2d2d2d;
}

.card{ 
  position: sticky;
  top: 80px;

 
}
