.home-aside {
    width: 20%;
    height: 30rem;
    padding-left: 0.9375rem;
    margin-left: 0.9375rem;
    float: right;
    font-style: italic;
    .aside-card-header{
      height: 3rem;
    }
    .aside-card-body {
      width: 100%;
    }
  }