$exploreIconBottom: #0A9E88;
.explore_container {
    margin-top: 3rem;
}
.explore_container {   
 
    color: $exploreIconBottom;
    text-align: center;
    .explore-container-title-p {
        color: #000;
    }
}
.exploreIconsContainer {
    display:flex;
    font-size: 5rem;
    background: red;
   
}

.exploreIcons > span {
    color: $exploreIconBottom;
}

.exploreIcons > h2 {
    font-size: 1rem;
}
@media (max-width: 768px){
    .exploreIconsContainer {
        font-size: 3rem;
        display:inline-block;
    }
}
@media (max-width: 475px){
    .exploreIconsContainer {
        
    }
}
