.questions__content {
  max-width: 1500px; 
  margin: 5rem 0;
}
.questions__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  margin-bottom: 5rem;
  h2 {
    font-size: 3rem;
    color: #383b6e;
  }
  span {
    width: 10rem;
    border-bottom: solid 0.5rem #f3ef0f;
  }
}
.accordion__color {
    background-color: #127A35;
    color: #fff;
}
.accordion__question {
    background-color: #127A35;
    color: #fff;
}

@media (max-width: 900px) {
  .questions__title {
    h2 {
      font-size: 2rem;
      padding-left: 3rem;
    }
  }
}
