 ///gallery
 /// 
 .containerGallery {
     box-sizing: border-box;
     display: flex;
     flex-flow: column wrap;
     height: 80vh;
     margin-bottom: 5vh;
     text-align: center;
     text-transform: uppercase;
     width: 100%;
     overflow: hidden;

     .animate__animated.animate__bounceInUp {
         --animate-duration: .8s;
     }

 }

 @media screen and (max-width: 576px) {

     .gallery-wrap {
         display: flex;
         flex-direction: column;
         width: 100%;
         height: 70vh;
     }

     .item {
         flex: calc(100% / 6);
         height: calc(100% / 6);
         background-position: center;
         background-size: cover;
         background-repeat: none;
         transition: flex 0.8s ease;
     }
 }








 .cardGallery {
     align-items: center;
     background: white;
     background-size: cover;
     background-position: center;
     box-sizing: border-box;
     color: white;
     display: flex;
     flex-grow: 0;
     font-family: sans-serif;
     font-size: 30px;
     font-weight: bold;
     height: 50%;
     justify-content: center;
     text-shadow: 0 0 5px black;
     position: relative;


     border: 1px solid white;
     //outline: 1px solid white;
     border-radius: 10px;



     // Setting the heights of the elements so they meet
     // nicely at the bottom of the container

     //primera columna
     &:nth-child(6n - 5) {
         height: 25%;
     }

     &:nth-child(6n-4) {
         height: 75%;
     }

     //segunda columna
     &:nth-child(6n-3) {
         height: 50%;
     }

     &:nth-child(6n-2) {
         height: 50%;
     }

     //tercera columna
     &:nth-child(6n-1) {
         height: 66.666%;
     }

     &:nth-child(6n) {
         height: 33.333%;
     }

 }


 #navbarNav {
     justify-content: flex-end;
 }

 .navbarGallery {

     .nav-item {
         transition: all 0.3s ease-in-out;
         cursor: pointer;
     }
 }

 .nav-item .nav-link {
     color: black !important;
 }

 .aGallery {
     border-bottom: 2px solid rgb(140, 211, 117);
 }

 .modal-contentGallery {
     .modal-content {
         background-color: rgba(0, 0, 0, 0.028);
     }

     div {
         border: none;
         padding: 0;
     }
 }


 .modalImage {
     display: flex;
     justify-content: center;
     max-height: 85vh;
     overflow: hidden;
     position: relative;

     img {
         max-height: 100%;
         max-width: 100%;
         object-fit: cover; //cover, contain, fill, none, scale-down
     }
 }


 //---------------------------------------------------------------------------------------------------

 .video-gallery {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
     grid-gap: 15px;
     max-width: 1100px;
     padding: 15px;
     margin: 0 auto;
     box-sizing: border-box;
 }

 .gallery-item {
     position: relative;
     width: 100%;
     height: 300px;
     background: #000;
     cursor: pointer;
     overflow: hidden;
 }

 .imgGalleryItem {
     position: relative;
     display: block;
     width: 115%;
     height: 300px;
     object-fit: cover;
     opacity: .5;
     /*transition: opacity .35s, transform .35s;*/
     transition: all 350ms ease-in-out;
     transform: translate3d(-23px, 0, 0);
     /*backface-visibility: hidden;*/
 }

 .north-cascades-img {
     object-position: 50% 30%;
 }

 .gallery-item-caption {
     padding: 32px;
     font-size: 1em;
     color: #fff;
     text-transform: uppercase;
 }

 .gallery-item-caption,
 .gallery-item-caption>a {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 #titleGallery {
     font-weight: 300;
     overflow: hidden;
     padding: 12px 0;
 }

 #textGallery,
 #titleGallery {
     position: relative;
     margin: 0;
     z-index: 1;
     pointer-events: none;
 }

 #textGallery {
     letter-spacing: 1px;
     font-size: 12px;
     padding: 12px 0;
     opacity: 0;
     transition: opacity 0.35s, transform 0.35s;
     transform: translate3d(10%, 0, 0);
 }

 .gallery-item:hover {
     .imgGalleryItem {
         opacity: 0.3;
         transform: translate3d(0, 0, 0);
     }
 }


 .gallery-item,
 .gallery-item-caption {
     text-align: left;
 }

 #titleGallery:after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 15%;
     height: 1px;
     background: #fff;
     transition: transform 0.3s;
     transform: translate3d(-100%, 0, 0);
 }

 .gallery-item:hover {
     #titleGallery:after {
         transform: translate3d(0, 0, 0);
     }
 }

 .gallery-item:hover {

     #textGallery {
         opacity: 1;
         transform: translate3d(0, 0, 0);
     }
 }