@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Mono:wght@700&display=swap");

$h3-color: rgb(255, 255, 255);
$button-color: rgb(255, 255, 255);
$button-hover: rgb(255, 255, 255, 0.3);

.carousel-img {
  height: 80vh;
}
.carousel-h3 {  
  color: $h3-color;
  font-family: inherit;
  font-weight: bolder;
  display: flex;
  padding-bottom: 2rem;
}
.carousel-button {
  display: block;
  border: 2px solid $button-color;
  background: transparent;
  padding: 10px 15px;
  color: $button-color;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background 1s, color 1s;
}
.carousel-button:hover {
  background: $button-hover;
  color: $button-hover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.cardCarousel {
  border-radius: 1.5em;
  min-width: 600px;
  max-width: 1170px;
  width: 30%;
  padding: 2.6em 3.8em;
  transform: translate(-50%, -50%);
  margin-left: 5rem;
}
.note::after {
  content: "";
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #afafaf;
  background: linear-gradient(
    135deg,
    rgba(43, 171, 217, 1) 0%,
    rgba(0, 130, 200, 1) 100%
  );
  position: absolute;
  top: -1.8em;
  left: 0;
}
.note {
  font-size: 0.8em;
  color: #8a8a8a;
  position: relative;
  margin-top: 4em;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 14em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 12s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
//Tableta
@media (max-width: 768px) {

  .carousel-img {
    height: 80vh;
  }
  .cardCarousel {
    padding: 1.6em 2.8em;  
  }
  .carousel-h1 {
    font-size: 1.5em;
  }
}
//Celular
@media (max-width: 576px) {

  .carousel-img {
    height: 60vh;
  }
  .carousel-h3 {
    padding-bottom: 3rem;
  }
  .animate-charcter {
    font-size: 30px;
  }
  .cardCarousel {
    padding: 0.6em 1.8em;
  }
}
