.slider-size {
    height: 600px;
}
.mainText{
    padding: 10px;
    text-align: center;
    /*font-size: 30px;*/
    color: rgb(0, 0, 0);
}
.mainText h1{
    font-size: 50px;
}
.mainText p{
    width: 60%;
    padding: 5px;
    margin: auto;
    line-height: 30px;
}

.slider-text {
    text-align: center;
}