$background-card: #0A9E88;
$main-text-color: #003414;

.slick-slide > div {
  margin: 0 0.625rem;
}
.slck-list {
  margin: 0 -0.625rem;
}
.tour-carousel-main-title {
  text-align: center;
  color: $main-text-color;
  font-size: 3rem;
}

.tour-carousel-card {
  border: 0.0625rem;
  background: $background-card;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 25rem;
  color: white;  
}
.card-top h1 {
    font-size: 1rem;
    margin: 0.625rem 1.25rem;
  }
  .card-top > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .card-bottom {
    margin: 0.625rem 1.25rem;
  }  
.nextArrow {
    font-size: 1rem;
    color:  #000000;
    background: red;
}
.card-top img:hover {
    filter: blur(0.10px) brightness(70%);
}
.card-bottom-price span {
  background: #FC6B1D;  
  border-radius: 0.5rem;
  padding-right: 1rem;
}
.card-top {
  width: 300px;
  margin: 0 auto;
  }
   img{
  height: 100px;
  width: 300px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  }
  img:hover {
  height: 133px;
  width: 400px;
  margin-left: -50px;
  }



@media (max-width: 768px) {
    .tour-carousel-card {
        height: 25rem;
    }
}
