$background-card: #003414;

.container-carousel {
  width: 70%;
  margin: 0 auto;
  margin-top: 3.125rem;
}
.slick-slide > div {
  margin: 0 0.625rem;
}
.slck-list {
  margin: 0 -0.625rem;
}
.tour-carousel-card {
  border: 0.0625rem;
  background: $background-card;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 25rem;
  color: white;  
}
.card-top h1 {
    font-size: 1rem;
    margin: 0.625rem 1.25rem;
  }
  .card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-bottom {
    margin: 0.625rem 1.25rem;
  }  
.nextArrow {
    font-size: 1rem;
    color:  #000000;
    background: red;
}