 //importaciones

 

 //navBar
 @use "./components/navbar/navBar.scss";
 //index
 @use "./components/index/_MainCarousel";
 @use "./components/index/_card.scss";
 @use "./components/index/ToursCarousel";


 @use "./components/footer/_footer";

 @use "./components/House/House";
 @use "./components/House/CarouselHouse";
 @use "./components/index/_Gallery"; 

 //socialNetwork
 @use "./components/SocialNetwork/_socialNetwork.scss";
 
 //button
 @use "./components/button/_button.scss";
 @use "./components/index/Explore.scss";
 @use "./components/Map/GoogleMap.scss";

//Contact us
@use "./components/contactUs/_ContactInfo.scss"; 




 //Letras
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

 //Variables
 $backgroundSuaveCaida: linear-gradient(180deg, #F5FFFE 0%, #F5FFFE 47.71%, rgba(255, 255, 255, 0) 100%);

 body{
    background: $backgroundSuaveCaida;
 }
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 a {
     text-decoration: none; 
 }

 li {
     list-style: none;
 }
 img{
    width: 100%;
 }

 .paginasContainer {
     margin: 55px auto 0;
 }

 .carousel-indicators button {
     color: transparent;
 }