//importaciones

//navBar
@use "./components/navbar/navBar.scss";
//index
@use "./components/index/Hero.module";
@use "./components/index/_card.scss";
@use "./components/footer/_footer";

//index
@use "../../src/styles/components/index/Gallery";

//House
@use "../styles/components/House/House.module";
@use "../styles/components/house/HouseAside.module";
@use "../styles/components/house/DescriptionCard";
@use "./components/house/CarouselHouse";

//socialNetwork
@use "./components/SocialNetwork/_socialNetwork.scss";

//button
@use "./components/button/_button.scss";
@use "./components/index/Explore.scss";

//Contact us
@use "./components/contactUs/_ContactInfo.scss";

//Letras
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

//Variables
$backgroundSuaveCaida: linear-gradient(180deg, #f5fffe 0%, #f5fffe 47.71%, rgba(255, 255, 255, 0) 100%);

body {
  background: $backgroundSuaveCaida;
}
*,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  width: 100%;
}

.paginasContainer {
  margin: 55px auto 0;
}

.carousel-indicators button {
  color: transparent;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.slick-slider {
  overflow: hidden;
}

