
 .facebook{
    color: white
 }
 .instagram{
    color: white;
    svg{
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
        border-radius: 30%; 
    }
    margin-right: 5px;
 }
 .twitter{
    color: #00acee;
    svg{
        background-color: white;
         border-radius: 25%;
    }
 }