$colorPrimary: rgb(0, 123, 255);

.padre {
  position: relative;
  padding-top: 40%;
  @media screen and (max-width: 576px) {
    padding-top: 60%;
  }
}

.Padre_sample_header{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 80%;

  @media screen and (max-width: 1300px) {
    height: 60%;
  } 
  @media screen and (max-width: 992px) {
    height: 50%;
  }
  @media screen and (max-width: 776px) {
    height: 40%;
  }
  @media screen and (max-width: 476px) {
    height: 35%;
  }
}
//funciona de la siguiente manera,
//deja la imagen arriba con una position absolute o
//posicion que este quieta, despues al bajar
//seria relative para que mantenga por encima
//y que parezca que suba
.sample_header { 
 
  height: 100%;
  background-size: 100%;  
  img{
    width: 100%;
    height: 100%;
  } 

  //acomode del texto dentro de la imagen
  display: flex;
  justify-content: center;
  align-items: center;
}

//colocar un filto a la imagen
.sample_header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}
//texto del header
.sample_header_section {
  position: absolute; 
  max-width: 640px;
  height: 300px;
  color: white;
  height: auto;

  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

  font-family: "Montserrat", sans-serif;

  display: grid;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;

  .sample_header_text {
    height: 100%;
    padding-bottom: 5rem;

    h1 {
      font-weight: 500;
    }
    h2 {
      font-weight: 400;
    }

    @media screen and (max-width: 576px) {
      padding-top: 5rem;
      padding-left: 1rem;
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }
}

//informacion central
.sample_section_wrap {
  position: relative;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.sample_section {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  h1 {
    color: rgb(7, 217, 0);
  }
}

.division {
  border-bottom: 1px solid rgba(0, 0, 0, 0.177);

  &:last-child {
    border-bottom: none;
  }
}

//section the information about the tour
.sectionInfo {
  margin: 0 auto;
  padding-bottom: 30px;

  h1 {
    color: rgb(7, 217, 0);
    text-align: center;
  }

  .sectionInfo__principal {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 776px) {
      flex-direction: column;
      margin: 0 0.5rem;
    }

    .headerCard {
      text-align: center;
      background-color: $colorPrimary;

      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      padding: 10px;
      padding-left: 1rem;

      text-align: left;
      font-size: 2rem;
      color: white;

      svg {
        margin-right: 0.5rem;
      }
    }

    .sectionInfo__principal_left {
      width: 50%;
      //background-color: rgb(196, 195, 195);
      color: rgb(0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0.177);
      border-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      @media screen and (max-width: 776px) {
        width: 100%;
      }

      .textCard {
        text-align: left;
        max-width: 90%;
        margin: 0 auto;
        h1 {
          margin-top: 10px;
          text-align: left;
        }
      }
    }

    .sectionInfo__principal_right {
      width: 50%;
      //background-color: rgb(196, 195, 195);
      color: rgb(0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0.177);
      border-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      @media screen and (max-width: 776px) {
        width: 100%;
      }

      .textCard {
        display: flex;
        align-items: center;

        padding: 1rem;
        min-height: 3rem;

        svg {
          width: 4.5rem;
          height: 40px;
          margin-right: 1rem;
        }

        p {
          width: 70%;
          margin-bottom: 0;
        }
      }
    }
  }
}

.buttonCard {
  width: 100%;
  background-color: $colorPrimary;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: black;
  }
}
