$primary-color: #010712;
$secondary-color: #818386;
$bg-color: #FCFDFD;
$button-color: #3B3636;
$h1-color: #3F444C;
$link-color: #0042ac;

[data-theme="dark"] { 
    $h1-color: #FCFDFD;
    $link-color: #5a94f3;

    .h1FormInfo {
        color: $h1-color;
    }

    .contactInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    
    
        &__section { 
    
            svg {
                color: $h1-color;
            }
    
            &-text { 
                color: $h1-color;
    
                a { 
                    color: $link-color;  
                }  
            }
        }
    }

}


.contactInfoPadre {
    margin-top: 1rem;
    text-align: center;
}

.h1FormInfo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $h1-color;
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;


    &__section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;


        svg {
            color: $h1-color;
        }

        &-text {
            margin-top: 10px;
            font-weight: bold;
            color: $h1-color;

            a { 
                color: $link-color; 
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

// //mobile
@media screen and (max-width: 576px) {


    .contactInfo {
        margin-top: 0;

        &__section {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;

            svg {
                width: 50px;
                height: 50px;
            }


            &-text {
                margin-top: 30px;
                font-weight: bold;

                a {
                    font-size: large;
                    font-weight: normal;
                    color: $link-color;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}