$primary-color: #010712;
$secondary-color: #818386;
$bg-color: #fcfdfd;
$button-color: #3b3636;
$h1-color: #3f444c;

[data-theme="dark"] {
    $primary-color: #fcfdfd;
    $secondary-color: #818386;
    $bg-color: #010712;
    $button-color: #818386;
    $h1-color: #fcfdfd;

    .contact-container {
        background: $bg-color;

        .backgroundForm {
            background: $bg-color;
        }
    } 

    .right-col {
        background: $bg-color; 
        .h1Form {
            color: $h1-color;
        }

        .textForm {
            color: $secondary-color;
        }

        .labelForm,
        .description {
            color: $secondary-color;
        }

        .description {
            color: $secondary-color;
        }

        #contact-form {
            .inputForm::placeholder {
                color: $primary-color;
            }

            .labelForm {
                color: $secondary-color;
            }

            .inputForm {
                color: $primary-color;
                border-bottom: 1px solid $primary-color;
                background-color: $bg-color;
            }

            .btnForm {
                background: $button-color;
                color: $bg-color;
            }
        }
    }

    //esto cambia cuando le doy click, cambia al otro tema
    .inputForm:checked,
    .slider {
        background-color: $button-color;
        &:before {
            transform: translateX(100%);
        }
    }

    #error {
        color: $secondary-color;
    }

    #success-msg {
        color: $secondary-color;
    }
} //Fin de cambio de colores para tema oscuro

.contact-container {
    height: 100%;

    .backgroundForm {
        display: flex;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        background: $bg-color;
    }
}

.left-col {
    width: 50%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-repeat: no-repeat;
}

.logoForm {
    width: 10rem;
    padding: 1.5rem;
} 

.description {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.right-col {
    
    background: $bg-color;
    width: 50%;
    height: 100vh;
    padding: 4rem 2rem 0;
    padding-bottom: 5rem;

    * {
        font-family: "Helvetica Neue", sans-serif;
    }

    .h1Form {
        color: $h1-color;
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
    }

    .textForm {
        color: $secondary-color;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        width: 100%;
        margin: 0.25rem 0; 
    }

    .labelForm,
    .description {
        color: $secondary-color;
        text-transform: uppercase;
        font-size: 0.625rem;
    }

    .description {
        color: $secondary-color;
        text-transform: uppercase;
        font-size: 0.625rem;
    }

    #contact-form {
        width: 100%;
        position: relative;
        margin-top: 2rem;
        padding: 1rem 0;

        @media screen and (max-width: 576px) {
            margin-top: 0;
        }

        .inputForm::placeholder {
            color: $primary-color;
            
        }

        .labelForm {
            margin-top: 1rem;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
        }

        .inputForm {
            color: $primary-color;
            border: none;
            border-bottom: 1px solid $primary-color;
            border-radius: 0;
            font-size: 0.9rem;
            transition: all 0.2s ease-in-out;
            background-color: $bg-color;
             
            &:focus {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.026) inset, 0 0 8px rgba(102, 102, 102, 0.021);
            }

            &:hover {
                opacity: 0.5;
            }
        }

        .textAreaForm {
            color: $primary-color;
            font-weight: 500;
            background: $bg-color;
            border: none;
            border-bottom: 1px solid $primary-color;
            border-radius: 0;
            border-radius: 0;
            padding: 0.5rem 0;
            margin-bottom: 1rem;
            outline: none;
            resize: none;
            transition: all 0.3s ease-in-out;
            font-size: 0.9rem;  
            &:focus {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.026) inset, 0 0 8px rgba(102, 102, 102, 0.021);
            }

            &:hover {
                opacity: 0.5;
            }
        }

        .btnForm {
            text-transform: uppercase;
            font-weight: 300;
            background: $button-color;
            color: $bg-color;
            width: 10rem;
            height: 2.25rem;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 0.5;
            }

            &:active {
                opacity: 0.8;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .left-col {
        width: 40%;
    }

    .right-col {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .backgroundForm {
        flex-direction: column;
    }

    .left-col {
        width: 90%;
        height: 300px;
        margin: 0 auto;
        margin-top: 50px;
        background-image: url("https://previews.123rf.com/images/marisha5/marisha51402/marisha5140200516/26214086-paisaje-hermoso-bosque-en-la-ma%C3%B1ana.jpg");
    }

    .right-col {
        padding-top: 40px;
        width: 100%;
        margin-bottom: -40px;
    }
} 
// //mobile
@media screen and (max-width: 576px) {
    .left-col {
        display: none;
    } 
    .right-col {
        margin-bottom: 5rem;
        .h1Form {
            font-size: 2.3rem;
        }
    }
}



/* Toggle Switch */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    margin-left: 75%;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

.description {
    margin-left: 1.25rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;

    .inputForm {
        display: none;
    }
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
 
    &:before {
        background-color: #fff;
        bottom: 0.25rem;
        content: "";
        width: 26px;
        height: 26px;
        left: 0.25rem;
        position: absolute;
        transition: 0.4s;
        border-radius: 50%;
    }
}

//esto cambia cuando se da click en el checked
.inputForm:checked,
.slider {
    background-color: $button-color;
    
    &:before {
        transform: translateX(0);
    }
} 

.errorInput {
    border-color: red !important;
}

#success-msg {
    width: 100%;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: "Jost";
    color: $secondary-color;
    transition-delay: 3s;
}

//tablet
@media screen and (max-width: 992px) {
    .logo {
        width: 8rem;
    }

    .h1Form {
        font-size: 1.75rem;
    }

    .textForm {
        font-size: 0.7rem;
    }

    .inputForm,
    .btnForm {
        font-size: 0.9rem;
    }

    .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }

    .btnForm {
        width: 7rem;
    }

    .theme-switch-wrapper {
        width: 120px;
    }

    .theme-switch {
        height: 28px;
        width: 50px;

        .inputForm {
            display: none;
        }
    }

    .slider {
        &:before {
            background-color: #fff;
            bottom: 0.25rem;
            content: "";
            width: 20px;
            height: 20px;
            left: 0.25rem;
            position: absolute;
            transition: 0.4s;
        }
    } 

    .slider,
    .round {
        border-radius: 15px;

        &:before {
            border-radius: 50%;
        }
    }
}

//mobile
@media screen and (max-width: 768px) {
    .theme-switch-wrapper {
        display: none;
    }
}
.right-col{
    padding-bottom: 0;
}